<html>
    <head>
        <title>Saving Money App</title>
    </head>
    <body>
        <h1>Saving Money</h1>
        <form method="POST" action="/">
            <input name="item_text" id="id_new_item" placeholder="Enter the Saving Detail" />
            <input name="money_text" id="id_new_money" placeholder="Enter money" />
            <input id="submit_data" type="submit" value="Add">
	    <br>
            {% csrf_token %}
        </form>

        <table>
        <form method="POST" action="/lists/by_time">
		<tr>
             Sort : <input id="time" type="submit" value="by time">
            {% csrf_token %}
        </form>
		
        <form method="POST" action="/lists/min_to_max">
             <input id="min_to_max" type="submit" value="min -> max">
            {% csrf_token %}
        </form>
		
        <form method="POST" action="/lists/max_to_min">
            <input id="max_to_min" type="submit" value="max -> min">
            {% csrf_token %}
        </form>
		</tr>
        </table>






        <table id="id_list_table">
            {% for item in items %}
                <tr><td>{{ item.text }}</td><td> {{ item.money }} ฿</td></tr>
            {% endfor %}
        </table>
<br>---------------------------------------------------------------------------
        <table id="result_table">
		<tr><td>TOTAL   </td><td>: {{ saved_money }} ฿</td></tr>
		<tr><td>AVERAGE</td><td>: {{ average_money }} ฿</td></tr>
		<tr><td>MAX</td><td>: {{ max_saved }} ฿</td></tr>
		<tr><td>MIN</td><td>: {{ min_saved }} ฿</td></tr>
	</table>
    </body>
</html>
